<div class="container">
  <div class="row">
    <div class="col-md-6">
      <mat-form-field class="w-100">
        <mat-label>Filter by</mat-label>
        <select matNativeControl>
          <option value="" selected></option>
          <option value="1">Option 1</option>
          <option value="2" disabled>Option 2 (disabled)</option>
          <option value="3">Option 3</option>
        </select>
      </mat-form-field>
    </div>
    <div class="col-md-6">
      <mat-form-field class="w-100">
        <mat-label>Filter value</mat-label>
        <input matInput>
      </mat-form-field>
    </div>
  </div>
</div>